.current-weather {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
  .current-weather-card {
    background-color: #CCDFF3;
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 20px;
  }
  .current-weather-card img {
    margin-left: -2rem;
  }
  
  .current-weather-card span {
    font-style: italic;
  }
  .current-weather-card button {
    background-color: #7AB1EB;
    margin-top: -1rem;
    margin-bottom: 1rem;
    color: black
  }
  
  .current-weather-card button:hover {
    background-color: #8AB8E9;
  }
  
  .current-weather-card-title {
    background-color: #A0C5EC;
    border-radius: 20px 20px 0 0;
    padding-bottom: 1rem;
  }
  .current-weather-card-icon {
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .current-weather-description {
    background-color: #CCDFF3;
    padding: 2rem 1.5rem;
    margin-left: 1rem;
    width: 100%;
    border-radius: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  
  .current-weather-description {
    font-size: 1.3rem;
  }
  
  .desctiption-icon-with-text {
    margin-top: 1.5rem;
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 767px) {
    .current-weather {
      display: block;
    }
    .current-weather-card {
      text-align: center;
      align-items: center;
    }
  
    .current-weather-card-title {
      width: 100%;
    }
    .current-weather-description {
      margin: 1rem 0;
      width: auto;
      text-align: center;
      align-items: center;
      background-color: #A0C5EC;
    }
  }
  