* {
  box-sizing: border-box;
}

:root {
  --sky: #a0c5ec;
}
body {
  margin: 0;
  background-color: var(--sky);
  font-family: "Roboto", Arial !important;
}

.App {
  position: relative;
  padding: 1.5rem;
  margin-top: 7rem;
  box-shadow: 0px 1px 7px rgba(0, 0, 0, 0.55);
  border-radius: 20px;
  background-color: white;
}

/* AsyncPaginate input */
.css-1s2u09g-control,
.css-1pahdxg-control {
  width: 100%;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--sky);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ccc;
  border-radius: 10px;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--sky);
  border-radius: 10px;
  border: 3px solid #ccc;
}
